{% block subject %}Confirmation of event !{% endblock %}

{% block body %}

<p>Event added successfully ! Welcome to our app</p>


<p>If you have any questions or concerns, please do not hesitate to contact us.</p>

<p>Best regards,<br>
     UltraHealth Team</p>
{% endblock %}